h1, h2{
    margin: 20px 0px;
    font-family: "pacifico", cursive;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 2px 2px #95897A;
}

h3{
    font-family: serif;
}

pre{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.card{
    color: black;
}

.cardMod{
    background-color: gray;
    margin-left: 25px;
    color: black;
}

.bottom-links ul{
    color: black;
}

.heading h1{
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.postTitle{
    color: black;
    font-size: 50px;
}

#postSection p{
    font-size: 18px;
}

#resources{
    color: black;
}

.row{
    color: black;
}


body{
    background-color: white;
}   

#contentSection{
    margin-top: 30px;
}

.jumbotron{
    padding: 350px 20px;
    margin: 0;
    background-image: url(../img/modifiednbanner.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}    

.topics{
    padding: 20px 5px;
    background-image: url(../img/coffeegrains.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}    
   

#xsJumbo{
    background: url(../img/webinar-banner-website.png);
    background-repeat: no-repeat;
    background-color: black;
    background-position: 0%;
    background-size: cover;
}

.dropdown-menu{
    background-color:#95897A;
}

.navbar{
    background-image: linear-gradient(#6A4C32, #654734);
}

.container-resources{
    margin: 50px auto;
}

.site-footer {
    background-image: linear-gradient(#6A4C32, #654734);
    padding: 20px 0;
}
 
#postSection{
    background-color: white;
}

#blogPost{
    margin-top: 50px;
}

.blogCollapse{
    color: white;
    background-image: url(../img/coffeegrains.jpg);
    background-repeat: no-repeat;
    background-color: black;
    /* background-position: center center; */
    /* background-size: cover; */
    background-attachment: fixed;
    margin-top: 0;
}

.fl::first-letter {
    font-size: 200%;
    font-family: cursive;
  }

 .flex-column a{
     color: black;
 } 

.flex-column a:hover{
    font-size: 22px;
    color: green;
}

.btn-olive{
    color: #717343;
}

.bg-olive{
    background-image: linear-gradient(#6A4C32, #654734);
}

.menu{
    background-color: black;
}

table .fa{
    font-size: 30px;
}

table .fa:hover{
    color: brown;
    font-size: 40px;
}

.cafeMenu{
    background-image: url(../img/menu/coffee-beans-banner.jpg);
    background-color: rgb(20, 16, 16);
}

#menuBody{
    background-image: radial-gradient(rgb(36, 27, 27), rgb(51, 43, 43), rgb(32, 24, 2))
}

#menuList{
    background-color: rgb(197, 197, 186);
    font-size: 100%;
}

.modal-dialog{
    width: 400px ;
}